---
import BaseLayout from "../../layouts/BaseLayout.astro"
import BlogPostPreview from "../../components/BlogPostPreview.astro"

let allPosts = await Astro.glob("./*.md").then((allPosts) =>
    allPosts
        .map((it) => ({ ...it.frontmatter, url: it.url }))
        .sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate)),
)

const metaUrl = Astro.site + "blog"
const description =
    "Welcome to my blog. Here you'll find all the random content that I'll be posting"
---

<BaseLayout title="Blog" {description}>
    <meta slot="head" name="og:url" content={metaUrl} />
    <meta slot="head" name="twitter:url" content={metaUrl} />

    <main class="flex w-full flex-col items-center">
        <section class="mx-14 mt-24 md:w-1/2">
            <h1>Blog</h1>
            <p class="py-4 text-lg">{description}</p>
            <hr class="border-t-2 border-pink-400" />
        </section>

        <section class="mx-14 my-8 flex flex-col gap-6 md:w-1/2">
            {
                allPosts.map(({ title, date, description, url }) => (
                    <BlogPostPreview
                        title={title}
                        date={date}
                        description={description}
                        url={url}
                    />
                ))
            }
        </section>
    </main>
</BaseLayout>
