---
// Component Imports
import MainHead from '../components/MainHead.astro';
import BlogPostPreview from '../components/Blog/BlogPostPreview.astro';
import Nav from '../components/Nav/index.jsx';
import Footer from '../components/Footer/index.jsx';

let title = 'Blog';
let description = "Hamza's Blog.";
let permalink = 'https://mhamza.dev.com/blog';

// Data Fetching: List all Markdown posts in the repo.
let allPosts = Astro.fetchContent('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));

---
<html lang="en">
  <head>
    <MainHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href="/blog.css" />

    <style>
      .content {
        margin-top: 4rem;
        margin-bottom: 8rem;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .intro {
        padding-bottom: 4rem;
        margin-bottom: 2rem;
        border-bottom: 4px solid var(--t-divider);
      }

      .intro > * {
        margin: 0;
      }

      .latest {
        font-size: 2.5rem;
        font-weight: 700;
      }
    </style>
  </head>

  <body>
    <Nav />
    <div class="layout">
      <article class="content">
        <section class="intro">
          <h1 class="latest">{title}</h1>
          <p>Welcome to my blog. Here you'll find all the random content that I'll be posting</p>
        </section>
          <section>
          {allPosts.map(p => <BlogPostPreview post={p} />)}
        </section>
      </article>
    </div>
    <Footer />
  </body>
</html>
