---
import ProjectsList from "../components/ProjectsList"
import AnimatedBottomBorderLink from "../components/AnimatedBottomBorderLink.tsx"
import BaseLayout from "../layouts/BaseLayout.astro"
import GitHubIcon from "../icons/GitHub.tsx"
import LinkedInIcon from "../icons/LinkedIn.tsx"
import HoverableTag from "../components/HoverableTag.tsx"
import config from '../../config.json'

const metaUrl = Astro.site
---

<BaseLayout>
    <meta slot="head" name="og:url" content={metaUrl} />
    <meta slot="head" name="twitter:url" content={metaUrl} />

    <style slot="head">
        .data-section {
            @apply flex flex-col gap-10 content-center items-center justify-center mt-24;
        }
    </style>

    <main>
        <section class="data-section">
            <h1 class="text-center">
                Hi, I am
                <span class="text-pink-700 dark:text-pink-500">
                    {config.name}
                </span>
            </h1>
            <h2>A {config.title}</h2>

            <div class="flex justify-center gap-4">
                <!-- <AnimatedBottomBorderLink href="#" ariaLabel="My Resume">
                <ResumeIcon className="w-12" />
            </AnimatedBottomBorderLink> -->
                <AnimatedBottomBorderLink
                    href={`https://github.com/${config.github}/`}
                    target="_blank"
                    ariaLabel="My GitHub"
                >
                    <GitHubIcon />
                </AnimatedBottomBorderLink>
                <AnimatedBottomBorderLink
                    href={`https://www.linkedin.com/in/${config.linkedin}/`}
                    target="_blank"
                    ariaLabel="My LinkedIn"
                >
                    <LinkedInIcon />
                </AnimatedBottomBorderLink>
            </div>
        </section>

        <section class="data-section" id="projects">
            <h2>Projects</h2>

            <ProjectsList />
        </section>

        <section class="data-section" id="skills">
            <h2>Skills</h2>

            <div class="grid grid-cols-2 gap-5 md:grid-cols-3">
                {config.skills.map((skill) => (
                    <HoverableTag>{skill}</HoverableTag>
                ))}
            </div>
        </section>

        <section class="data-section mb-12" id="contact">
            <h2>Contact</h2>

            <div class="grid grid-cols-1 gap-5 md:grid-cols-3">
                {Object.entries(config.contacts).map(([key, value]) => (
                    <HoverableTag
                        link={true}
                        href={value}
                        target="_blank"
                        animation="hover:scale-110 duration-300"
                        rel="noopener"
                    >
                        {key}
                    </HoverableTag>
                ))}
            </div>
        </section>
    </main>
</BaseLayout>
