---
import AnimatedBottomBorderLink from "./AnimatedBottomBorderLink.tsx"
import GitHubIcon from "../icons/GitHub.tsx"

const projects = [
    {
        title: "Reqwasm",
        link: "hamza1311/reqwasm",
        description: "HTTP requests library for WASM Apps",
        languages: ["Rust"],
    },
    {
        title: "Clurry",
        link: "hamza1311/clurry",
        description: "A messaging application built",
        languages: ["TypeScript", "React", "Firebase"],
    },
    {
        title: "Dear Diary",
        link: "hamza1311/dear-diary-web",
        description: "A simple diary web app",
        languages: ["TypeScript", "Next.JS"],
    },
]
---

<div class="m-4 flex flex-col gap-8 lg:flex-row lg:gap-6">
    {projects.map((it) => (
        <article
            class="flex h-56 w-96 max-w-sm flex-col items-center gap-5 px-5 shadow-lg transition
            duration-200 ease-in-out hover:-translate-y-3 dark:shadow-xl"
        >
            <h3 class="pt-4 text-xl font-bold">{it.title}</h3>

            <p class="mb-auto text-center">{it.description}</p>

            <div class="flex flex-col items-center gap-5 pb-2">
                <section class="flex gap-4">
                    {it.languages.map((lang) => (
                        <span class="text-sm">{lang}</span>
                    ))}
                </section>

                <AnimatedBottomBorderLink
                    href={`https://github.com/${it.link}`}
                    target="_blank"
                    ariaLabel={`${it.title} on GitHub`}
                >
                    <GitHubIcon dimensions={8} />
                </AnimatedBottomBorderLink>
            </div>
        </article>
    ))}
</div>
